<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dk.sfs.riskengine.persistence.mapper.AccidentFrequenceMapper">
	
	<select id="selectByShipTypeAndAccidentType" parameterType="map"
		resultType="Double">
		select
		<choose>
			<when  test="shipSize=='SMALL'" >
				freq_small_ship
    		</when>
			<when test="shipSize=='MEDIUM'">
				freq_medium_ship
    		</when>
			<when test="shipSize=='LARGE'">
				freq_large_ship
    		</when>
		</choose>
		from accident_frequence f, accident_type at, ship_type_iwrap st
		where
		f.ship_type_id = st.id
		and st.ship_type_name =#{shipTypeName,jdbcType=VARCHAR}
		and accident_type_id = at.id
		and accident_type_name = #{accidentTypeName,jdbcType=VARCHAR}
	</select>
	<select id="selectAvgByAccidentType" parameterType="java.lang.String"
		resultType="Double">
		select
		avg(
		(freq_small_ship+freq_medium_ship+freq_large_ship)/3.0)
		from
		accident_frequence, accident_type at
		where and accident_type_id = at.id
		accident_type_name = #{name,jdbcType=INTEGER}
  </select>

</mapper>