<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dk.sfs.riskengine.persistence.mapper.VesselMapper">
	<resultMap id="BaseResultMap" type="dk.sfs.riskengine.persistence.domain.Vessel">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="imo" jdbcType="INTEGER" property="imo" />
		<result column="mmsi" jdbcType="INTEGER" property="mmsi" />
		<result column="Name_of_Ship" jdbcType="VARCHAR" property="nameOfShip" />
		<result column="ship_type_LR" jdbcType="VARCHAR" property="shipTypeLr" />
		<result column="ship_type_IWRAP" jdbcType="VARCHAR" property="shipTypeIwrap" />
		<result column="LENGTH" jdbcType="DOUBLE" property="length" />
		<result column="LPP" jdbcType="VARCHAR" property="lpp" />
		<result column="BMLD" jdbcType="VARCHAR" property="bmld" />
		<result column="Breadth" jdbcType="DOUBLE" property="breadth" />
		<result column="Depth" jdbcType="DOUBLE" property="depth" />
		<result column="Draught" jdbcType="DOUBLE" property="draught" />
		<result column="Displacement" jdbcType="DOUBLE" property="displacement" />
		<result column="Deadweight" jdbcType="DOUBLE" property="deadweight" />
		<result column="Year_of_Build" jdbcType="INTEGER" property="yearOfBuild" />
		<result column="Callsign" jdbcType="VARCHAR" property="callsign" />
		<result column="Flag" jdbcType="VARCHAR" property="flag" />
		<result column="Hull_Type" jdbcType="VARCHAR" property="hullType" />
		<result column="GT" jdbcType="INTEGER" property="gt" />
		<result column="Speed" jdbcType="DOUBLE" property="speed" />
		<result column="Total_KW_Main_Eng" jdbcType="INTEGER" property="totalKwMainEng" />
		<result column="Fuel_Capacity_1" jdbcType="DOUBLE" property="fuelCapacity1" />
		<result column="Fuel_Capacity_2" jdbcType="DOUBLE" property="fuelCapacity2" />
		<result column="Passengers" jdbcType="INTEGER" property="passengers" />
		<result column="Tanks" jdbcType="INTEGER" property="tanks" />
		<result column="Gas_Capacity" jdbcType="DOUBLE" property="gasCapacity" />
		<result column="TEU" jdbcType="INTEGER" property="teu" />
		<result column="Fuel_Type_1" jdbcType="VARCHAR" property="fuelType1" />
		<result column="Fuel_Type_2" jdbcType="VARCHAR" property="fuelType2" />
		<result column="Holds" jdbcType="INTEGER" property="holds" />
		<result column="Class" jdbcType="VARCHAR" property="class_" />
		<result column="Engines_RPM" jdbcType="INTEGER" property="enginesRpm" />
		<result column="Engine_Type" jdbcType="VARCHAR" property="engineType" />
		<result column="Ice_capable" jdbcType="VARCHAR" property="iceCapable" />
		<result column="Keel_To_Mast_Height" jdbcType="DOUBLE"
			property="keelToMastHeight" />
		<result column="Newbuilding_Price" jdbcType="DOUBLE" property="newbuildingPrice" />
		<result column="Fuel_Consumption_Main_Engines" jdbcType="INTEGER"
			property="fuelConsumptionMainEngines" />
		<result column="Fuel_Consumption_Total" jdbcType="INTEGER"
			property="fuelConsumptionTotal" />
		<result column="Bollard_Pull" jdbcType="INTEGER" property="bollardPull" />
	</resultMap>
	<sql id="Base_Column_List">
		id, imo, mmsi, Name_of_Ship, ship_type_LR, ship_type_IWRAP, LENGTH, LPP,
		BMLD, Breadth,
		Depth, Draught, Displacement, Deadweight, Year_of_Build, Callsign, Flag,
		Hull_Type,
		GT, Speed, Total_KW_Main_Eng, Fuel_Capacity_1, Fuel_Capacity_2,
		Passengers, Tanks,
		Gas_Capacity, TEU, Fuel_Type_1, Fuel_Type_2, Holds, Class, Engines_RPM,
		Engine_Type,
		Ice_capable, Keel_To_Mast_Height, Newbuilding_Price,
		Fuel_Consumption_Main_Engines,
		Fuel_Consumption_Total, Bollard_Pull
  </sql>
	<select id="selectByMmsi" parameterType="java.lang.Long"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from loyds_ships
		where mmsi = #{value,jdbcType=INTEGER}
	</select>
	<select id="selectByImo" parameterType="java.lang.Long"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from loyds_ships
		where imo = #{value,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">

		delete from loyds_ships
		where id = #{id,jdbcType=INTEGER}
  </delete>
	<insert id="insert" parameterType="dk.sfs.riskengine.persistence.domain.Vessel">
		insert into loyds_ships (id, imo, mmsi,
		Name_of_Ship, ship_type_LR, ship_type_IWRAP,
		LENGTH, LPP, BMLD, Breadth,
		Depth, Draught, Displacement,
		Deadweight, Year_of_Build, Callsign,
		Flag, Hull_Type, GT,
		Speed, Total_KW_Main_Eng, Fuel_Capacity_1,
		Fuel_Capacity_2, Passengers, Tanks,
		Gas_Capacity, TEU, Fuel_Type_1,
		Fuel_Type_2, Holds, Class,
		Engines_RPM, Engine_Type, Ice_capable,
		Keel_To_Mast_Height, Newbuilding_Price, Fuel_Consumption_Main_Engines,
		Fuel_Consumption_Total, Bollard_Pull)
		values (#{id,jdbcType=INTEGER}, #{imo,jdbcType=INTEGER},
		#{mmsi,jdbcType=INTEGER},
		#{nameOfShip,jdbcType=VARCHAR}, #{shipTypeLr,jdbcType=VARCHAR}, #{shipTypeIwrap,jdbcType=VARCHAR},
		#{length,jdbcType=DOUBLE}, #{lpp,jdbcType=VARCHAR},
		#{bmld,jdbcType=VARCHAR}, #{breadth,jdbcType=DOUBLE},
		#{depth,jdbcType=DOUBLE}, #{draught,jdbcType=DOUBLE},
		#{displacement,jdbcType=DOUBLE},
		#{deadweight,jdbcType=DOUBLE}, #{yearOfBuild,jdbcType=INTEGER}, #{callsign,jdbcType=VARCHAR},
		#{flag,jdbcType=VARCHAR}, #{hullType,jdbcType=VARCHAR},
		#{gt,jdbcType=INTEGER},
		#{speed,jdbcType=DOUBLE}, #{totalKwMainEng,jdbcType=INTEGER}, #{fuelCapacity1,jdbcType=DOUBLE},
		#{fuelCapacity2,jdbcType=DOUBLE}, #{passengers,jdbcType=INTEGER},
		#{tanks,jdbcType=INTEGER},
		#{gasCapacity,jdbcType=DOUBLE}, #{teu,jdbcType=INTEGER}, #{fuelType1,jdbcType=VARCHAR},
		#{fuelType2,jdbcType=VARCHAR}, #{holds,jdbcType=INTEGER},
		#{class_,jdbcType=VARCHAR},
		#{enginesRpm,jdbcType=INTEGER}, #{engineType,jdbcType=VARCHAR}, #{iceCapable,jdbcType=VARCHAR},
		#{keelToMastHeight,jdbcType=DOUBLE},
		#{newbuildingPrice,jdbcType=DOUBLE},
		#{fuelConsumptionMainEngines,jdbcType=INTEGER},
		#{fuelConsumptionTotal,jdbcType=INTEGER},
		#{bollardPull,jdbcType=INTEGER})
  </insert>
	<insert id="insertSelective" parameterType="dk.sfs.riskengine.persistence.domain.Vessel">





		insert into loyds_ships
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
      </if>
			<if test="imo != null">
				imo,
      </if>
			<if test="mmsi != null">
				mmsi,
      </if>
			<if test="nameOfShip != null">
				Name_of_Ship,
      </if>
			<if test="shipTypeLr != null">
				ship_type_LR,
      </if>
			<if test="shipTypeIwrap != null">
				ship_type_IWRAP,
      </if>
			<if test="length != null">
				LENGTH,
      </if>
			<if test="lpp != null">
				LPP,
      </if>
			<if test="bmld != null">
				BMLD,
      </if>
			<if test="breadth != null">
				Breadth,
      </if>
			<if test="depth != null">
				Depth,
      </if>
			<if test="draught != null">
				Draught,
      </if>
			<if test="displacement != null">
				Displacement,
      </if>
			<if test="deadweight != null">
				Deadweight,
      </if>
			<if test="yearOfBuild != null">
				Year_of_Build,
      </if>
			<if test="callsign != null">
				Callsign,
      </if>
			<if test="flag != null">
				Flag,
      </if>
			<if test="hullType != null">
				Hull_Type,
      </if>
			<if test="gt != null">
				GT,
      </if>
			<if test="speed != null">
				Speed,
      </if>
			<if test="totalKwMainEng != null">
				Total_KW_Main_Eng,
      </if>
			<if test="fuelCapacity1 != null">
				Fuel_Capacity_1,
      </if>
			<if test="fuelCapacity2 != null">
				Fuel_Capacity_2,
      </if>
			<if test="passengers != null">
				Passengers,
      </if>
			<if test="tanks != null">
				Tanks,
      </if>
			<if test="gasCapacity != null">
				Gas_Capacity,
      </if>
			<if test="teu != null">
				TEU,
      </if>
			<if test="fuelType1 != null">
				Fuel_Type_1,
      </if>
			<if test="fuelType2 != null">
				Fuel_Type_2,
      </if>
			<if test="holds != null">
				Holds,
      </if>
			<if test="class_ != null">
				Class,
      </if>
			<if test="enginesRpm != null">
				Engines_RPM,
      </if>
			<if test="engineType != null">
				Engine_Type,
      </if>
			<if test="iceCapable != null">
				Ice_capable,
      </if>
			<if test="keelToMastHeight != null">
				Keel_To_Mast_Height,
      </if>
			<if test="newbuildingPrice != null">
				Newbuilding_Price,
      </if>
			<if test="fuelConsumptionMainEngines != null">
				Fuel_Consumption_Main_Engines,
      </if>
			<if test="fuelConsumptionTotal != null">
				Fuel_Consumption_Total,
      </if>
			<if test="bollardPull != null">
				Bollard_Pull,
      </if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
      </if>
			<if test="imo != null">
				#{imo,jdbcType=INTEGER},
      </if>
			<if test="mmsi != null">
				#{mmsi,jdbcType=INTEGER},
      </if>
			<if test="nameOfShip != null">
				#{nameOfShip,jdbcType=VARCHAR},
      </if>
			<if test="shipTypeLr != null">
				#{shipTypeLr,jdbcType=VARCHAR},
      </if>
			<if test="shipTypeIwrap != null">
				#{shipTypeIwrap,jdbcType=VARCHAR},
      </if>
			<if test="length != null">
				#{length,jdbcType=DOUBLE},
      </if>
			<if test="lpp != null">
				#{lpp,jdbcType=VARCHAR},
      </if>
			<if test="bmld != null">
				#{bmld,jdbcType=VARCHAR},
      </if>
			<if test="breadth != null">
				#{breadth,jdbcType=DOUBLE},
      </if>
			<if test="depth != null">
				#{depth,jdbcType=DOUBLE},
      </if>
			<if test="draught != null">
				#{draught,jdbcType=DOUBLE},
      </if>
			<if test="displacement != null">
				#{displacement,jdbcType=DOUBLE},
      </if>
			<if test="deadweight != null">
				#{deadweight,jdbcType=DOUBLE},
      </if>
			<if test="yearOfBuild != null">
				#{yearOfBuild,jdbcType=INTEGER},
      </if>
			<if test="callsign != null">
				#{callsign,jdbcType=VARCHAR},
      </if>
			<if test="flag != null">
				#{flag,jdbcType=VARCHAR},
      </if>
			<if test="hullType != null">
				#{hullType,jdbcType=VARCHAR},
      </if>
			<if test="gt != null">
				#{gt,jdbcType=INTEGER},
      </if>
			<if test="speed != null">
				#{speed,jdbcType=DOUBLE},
      </if>
			<if test="totalKwMainEng != null">
				#{totalKwMainEng,jdbcType=INTEGER},
      </if>
			<if test="fuelCapacity1 != null">
				#{fuelCapacity1,jdbcType=DOUBLE},
      </if>
			<if test="fuelCapacity2 != null">
				#{fuelCapacity2,jdbcType=DOUBLE},
      </if>
			<if test="passengers != null">
				#{passengers,jdbcType=INTEGER},
      </if>
			<if test="tanks != null">
				#{tanks,jdbcType=INTEGER},
      </if>
			<if test="gasCapacity != null">
				#{gasCapacity,jdbcType=DOUBLE},
      </if>
			<if test="teu != null">
				#{teu,jdbcType=INTEGER},
      </if>
			<if test="fuelType1 != null">
				#{fuelType1,jdbcType=VARCHAR},
      </if>
			<if test="fuelType2 != null">
				#{fuelType2,jdbcType=VARCHAR},
      </if>
			<if test="holds != null">
				#{holds,jdbcType=INTEGER},
      </if>
			<if test="class_ != null">
				#{class_,jdbcType=VARCHAR},
      </if>
			<if test="enginesRpm != null">
				#{enginesRpm,jdbcType=INTEGER},
      </if>
			<if test="engineType != null">
				#{engineType,jdbcType=VARCHAR},
      </if>
			<if test="iceCapable != null">
				#{iceCapable,jdbcType=VARCHAR},
      </if>
			<if test="keelToMastHeight != null">
				#{keelToMastHeight,jdbcType=DOUBLE},
      </if>
			<if test="newbuildingPrice != null">
				#{newbuildingPrice,jdbcType=DOUBLE},
      </if>
			<if test="fuelConsumptionMainEngines != null">
				#{fuelConsumptionMainEngines,jdbcType=INTEGER},
      </if>
			<if test="fuelConsumptionTotal != null">
				#{fuelConsumptionTotal,jdbcType=INTEGER},
      </if>
			<if test="bollardPull != null">
				#{bollardPull,jdbcType=INTEGER},
      </if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="dk.sfs.riskengine.persistence.domain.Vessel">





		update loyds_ships
		<set>
			<if test="imo != null">
				imo = #{imo,jdbcType=INTEGER},
      </if>
			<if test="mmsi != null">
				mmsi = #{mmsi,jdbcType=INTEGER},
      </if>
			<if test="nameOfShip != null">
				Name_of_Ship = #{nameOfShip,jdbcType=VARCHAR},
      </if>
			<if test="shipTypeLr != null">
				ship_type_LR = #{shipTypeLr,jdbcType=VARCHAR},
      </if>
			<if test="shipTypeIwrap != null">
				ship_type_IWRAP = #{shipTypeIwrap,jdbcType=VARCHAR},
      </if>
			<if test="length != null">
				LENGTH = #{length,jdbcType=DOUBLE},
      </if>
			<if test="lpp != null">
				LPP = #{lpp,jdbcType=VARCHAR},
      </if>
			<if test="bmld != null">
				BMLD = #{bmld,jdbcType=VARCHAR},
      </if>
			<if test="breadth != null">
				Breadth = #{breadth,jdbcType=DOUBLE},
      </if>
			<if test="depth != null">
				Depth = #{depth,jdbcType=DOUBLE},
      </if>
			<if test="draught != null">
				Draught = #{draught,jdbcType=DOUBLE},
      </if>
			<if test="displacement != null">
				Displacement = #{displacement,jdbcType=DOUBLE},
      </if>
			<if test="deadweight != null">
				Deadweight = #{deadweight,jdbcType=DOUBLE},
      </if>
			<if test="yearOfBuild != null">
				Year_of_Build = #{yearOfBuild,jdbcType=INTEGER},
      </if>
			<if test="callsign != null">
				Callsign = #{callsign,jdbcType=VARCHAR},
      </if>
			<if test="flag != null">
				Flag = #{flag,jdbcType=VARCHAR},
      </if>
			<if test="hullType != null">
				Hull_Type = #{hullType,jdbcType=VARCHAR},
      </if>
			<if test="gt != null">
				GT = #{gt,jdbcType=INTEGER},
      </if>
			<if test="speed != null">
				Speed = #{speed,jdbcType=DOUBLE},
      </if>
			<if test="totalKwMainEng != null">
				Total_KW_Main_Eng = #{totalKwMainEng,jdbcType=INTEGER},
      </if>
			<if test="fuelCapacity1 != null">
				Fuel_Capacity_1 = #{fuelCapacity1,jdbcType=DOUBLE},
      </if>
			<if test="fuelCapacity2 != null">
				Fuel_Capacity_2 = #{fuelCapacity2,jdbcType=DOUBLE},
      </if>
			<if test="passengers != null">
				Passengers = #{passengers,jdbcType=INTEGER},
      </if>
			<if test="tanks != null">
				Tanks = #{tanks,jdbcType=INTEGER},
      </if>
			<if test="gasCapacity != null">
				Gas_Capacity = #{gasCapacity,jdbcType=DOUBLE},
      </if>
			<if test="teu != null">
				TEU = #{teu,jdbcType=INTEGER},
      </if>
			<if test="fuelType1 != null">
				Fuel_Type_1 = #{fuelType1,jdbcType=VARCHAR},
      </if>
			<if test="fuelType2 != null">
				Fuel_Type_2 = #{fuelType2,jdbcType=VARCHAR},
      </if>
			<if test="holds != null">
				Holds = #{holds,jdbcType=INTEGER},
      </if>
			<if test="class_ != null">
				Class = #{class_,jdbcType=VARCHAR},
      </if>
			<if test="enginesRpm != null">
				Engines_RPM = #{enginesRpm,jdbcType=INTEGER},
      </if>
			<if test="engineType != null">
				Engine_Type = #{engineType,jdbcType=VARCHAR},
      </if>
			<if test="iceCapable != null">
				Ice_capable = #{iceCapable,jdbcType=VARCHAR},
      </if>
			<if test="keelToMastHeight != null">
				Keel_To_Mast_Height = #{keelToMastHeight,jdbcType=DOUBLE},
      </if>
			<if test="newbuildingPrice != null">
				Newbuilding_Price = #{newbuildingPrice,jdbcType=DOUBLE},
      </if>
			<if test="fuelConsumptionMainEngines != null">
				Fuel_Consumption_Main_Engines = #{fuelConsumptionMainEngines,jdbcType=INTEGER},
      </if>
			<if test="fuelConsumptionTotal != null">
				Fuel_Consumption_Total = #{fuelConsumptionTotal,jdbcType=INTEGER},
      </if>
			<if test="bollardPull != null">
				Bollard_Pull = #{bollardPull,jdbcType=INTEGER},
      </if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="dk.sfs.riskengine.persistence.domain.Vessel">





		update loyds_ships
		set imo = #{imo,jdbcType=INTEGER},
		mmsi = #{mmsi,jdbcType=INTEGER},
		Name_of_Ship = #{nameOfShip,jdbcType=VARCHAR},
		ship_type_LR = #{shipTypeLr,jdbcType=VARCHAR},
		ship_type_IWRAP = #{shipTypeIwrap,jdbcType=VARCHAR},
		LENGTH = #{length,jdbcType=DOUBLE},
		LPP = #{lpp,jdbcType=VARCHAR},
		BMLD = #{bmld,jdbcType=VARCHAR},
		Breadth = #{breadth,jdbcType=DOUBLE},
		Depth = #{depth,jdbcType=DOUBLE},
		Draught = #{draught,jdbcType=DOUBLE},
		Displacement = #{displacement,jdbcType=DOUBLE},
		Deadweight = #{deadweight,jdbcType=DOUBLE},
		Year_of_Build = #{yearOfBuild,jdbcType=INTEGER},
		Callsign = #{callsign,jdbcType=VARCHAR},
		Flag = #{flag,jdbcType=VARCHAR},
		Hull_Type = #{hullType,jdbcType=VARCHAR},
		GT = #{gt,jdbcType=INTEGER},
		Speed = #{speed,jdbcType=DOUBLE},
		Total_KW_Main_Eng = #{totalKwMainEng,jdbcType=INTEGER},
		Fuel_Capacity_1 = #{fuelCapacity1,jdbcType=DOUBLE},
		Fuel_Capacity_2 = #{fuelCapacity2,jdbcType=DOUBLE},
		Passengers = #{passengers,jdbcType=INTEGER},
		Tanks = #{tanks,jdbcType=INTEGER},
		Gas_Capacity = #{gasCapacity,jdbcType=DOUBLE},
		TEU = #{teu,jdbcType=INTEGER},
		Fuel_Type_1 = #{fuelType1,jdbcType=VARCHAR},
		Fuel_Type_2 = #{fuelType2,jdbcType=VARCHAR},
		Holds = #{holds,jdbcType=INTEGER},
		Class = #{class_,jdbcType=VARCHAR},
		Engines_RPM = #{enginesRpm,jdbcType=INTEGER},
		Engine_Type = #{engineType,jdbcType=VARCHAR},
		Ice_capable = #{iceCapable,jdbcType=VARCHAR},
		Keel_To_Mast_Height = #{keelToMastHeight,jdbcType=DOUBLE},
		Newbuilding_Price = #{newbuildingPrice,jdbcType=DOUBLE},
		Fuel_Consumption_Main_Engines = #{fuelConsumptionMainEngines,jdbcType=INTEGER},
		Fuel_Consumption_Total = #{fuelConsumptionTotal,jdbcType=INTEGER},
		Bollard_Pull = #{bollardPull,jdbcType=INTEGER}
		where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>